
IT276/.vs/IT276/v16/.suo
IT276.exe
IT276.ilk
IT276.pdb
IT276/.vs/IT276/v16/Browse.VC.db
IT276/.vs/IT276/v16/ipch/AutoPCH/12285356844ada14/SIMPLE_JSON_ARRAY.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/16ecf1ca080531a9/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/215d830a5afe6746/LEVEL.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/5a6128ea10528012/SIMPLE_JSON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/7bdb7c727e90f182/SIMPLE_LOGGER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8150f578b9f4f663/GF2D_PHYSICS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8a793e90573eb965/COLLISIONS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8ba01d890f2e02ad/GF2D_GRAPHICS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9b3f0fa2312b6868/P_WEAPON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9d2f5685bd1c1453/ENTITY.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9d7815b233615c41/GF2D_SPRITE.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/a3201e9417fec5b0/SIMPLE_JSON_OBJECT.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/abf2312fb3556f3/GF2D_ACTOR.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/acf2382dd6b5ab34/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/ad179a2dd6d56df7/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/d40eb1b3fc6c7d42/GFC_VECTOR.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e5a4cd056b5f143b/GAME.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e8270e863aed9b73/PLAYER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e9caba4d7d0afe90/GF2D_DRAW.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f0d65ac0fa91e5a0/SIMPLE_JSON_PARSE.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f3492f9abdaf1f5/P_WEAPON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f876d37c68b7706/GAME.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f992f774f68843b8/SIMPLE_JSON_STRING.ipch
IT276/Debug/gf2d.log
IT276/Debug/IT276.exe
IT276/Debug/IT276.ilk
IT276/Debug/IT276.pdb
IT276/Debug/libFLAC-8.dll
IT276/Debug/libfreetype-6.dll
IT276/Debug/libjpeg-9.dll
IT276/Debug/libmodplug-1.dll
IT276/Debug/libmpg123-0.dll
IT276/Debug/libogg-0.dll
IT276/Debug/libopus-0.dll
IT276/Debug/libopusfile-0.dll
IT276/Debug/libpng16-16.dll
IT276/Debug/libtiff-5.dll
IT276/Debug/libvorbis-0.dll
IT276/Debug/libvorbisfile-3.dll
IT276/Debug/libwebp-7.dll
IT276/Debug/LICENSE.FLAC.txt
IT276/Debug/LICENSE.freetype.txt
IT276/Debug/LICENSE.jpeg.txt
IT276/Debug/LICENSE.modplug.txt
IT276/Debug/LICENSE.mpg123.txt
IT276/Debug/LICENSE.ogg-vorbis.txt
IT276/Debug/LICENSE.opus.txt
IT276/Debug/LICENSE.opusfile.txt
IT276/Debug/LICENSE.png.txt
IT276/Debug/LICENSE.tiff.txt
IT276/Debug/LICENSE.webp.txt
IT276/Debug/LICENSE.zlib.txt
IT276/Debug/SDL2.dll
IT276/Debug/SDL2.lib
IT276/Debug/SDL2_image.dll
IT276/Debug/SDL2_image.lib
IT276/Debug/SDL2_mixer.dll
IT276/Debug/SDL2_mixer.lib
IT276/Debug/SDL2_ttf.dll
IT276/Debug/SDL2_ttf.lib
IT276/Debug/SDL2main.lib
IT276/Debug/SDL2test.lib
IT276/Debug/zlib1.dll
IT276/IT276/Debug/collisions.obj
IT276/IT276/Debug/entity.obj
IT276/IT276/Debug/game.obj
IT276/IT276/Debug/gf2d_actor.obj
IT276/IT276/Debug/gf2d_draw.obj
IT276/IT276/Debug/gf2d_graphics.obj
IT276/IT276/Debug/gf2d_physics.obj
IT276/IT276/Debug/gf2d_sprite.obj
IT276/IT276/Debug/gfc_audio.obj
IT276/IT276/Debug/gfc_callbacks.obj
IT276/IT276/Debug/gfc_input.obj
IT276/IT276/Debug/gfc_list.obj
IT276/IT276/Debug/gfc_matrix.obj
IT276/IT276/Debug/gfc_text.obj
IT276/IT276/Debug/gfc_types.obj
IT276/IT276/Debug/gfc_vector.obj
IT276/IT276/Debug/IT276.Build.CppClean.log
IT276/IT276/Debug/IT276.log
IT276/IT276/Debug/IT276.tlog/CL.command.1.tlog
IT276/IT276/Debug/IT276.tlog/CL.read.1.tlog
IT276/IT276/Debug/IT276.tlog/CL.write.1.tlog
IT276/IT276/Debug/IT276.tlog/IT276.lastbuildstate
IT276/IT276/Debug/IT276.tlog/link.command.1.tlog
IT276/IT276/Debug/IT276.tlog/link.read.1.tlog
IT276/IT276/Debug/IT276.tlog/link.write.1.tlog
IT276/IT276/Debug/IT276.vcxproj.FileListAbsolute.txt
IT276/IT276/Debug/level.obj
IT276/IT276/Debug/m_Necromancer.obj
IT276/IT276/Debug/player.obj
IT276/IT276/Debug/simple_json.obj
IT276/IT276/Debug/simple_json_array.obj
IT276/IT276/Debug/simple_json_error.obj
IT276/IT276/Debug/simple_json_list.obj
IT276/IT276/Debug/simple_json_object.obj
IT276/IT276/Debug/simple_json_parse.obj
IT276/IT276/Debug/simple_json_string.obj
IT276/IT276/Debug/simple_logger.obj
IT276/IT276/Debug/vc142.idb
IT276/IT276/Debug/vc142.pdb
IT276/IT276/gf2d.log
libFLAC-8.dll
libfreetype-6.dll
libjpeg-9.dll
libmodplug-1.dll
libmpg123-0.dll
libogg-0.dll
libopus-0.dll
libopusfile-0.dll
libpng16-16.dll
libtiff-5.dll
libvorbis-0.dll
libvorbisfile-3.dll
libwebp-7.dll
LICENSE.FLAC.txt
LICENSE.freetype.txt
LICENSE.jpeg.txt
LICENSE.modplug.txt
LICENSE.mpg123.txt
LICENSE.ogg-vorbis.txt
LICENSE.opus.txt
LICENSE.opusfile.txt
LICENSE.png.txt
LICENSE.tiff.txt
LICENSE.webp.txt
LICENSE.zlib.txt
SDL2.dll
SDL2.lib
SDL2_image.dll
SDL2_image.lib
SDL2_mixer.dll
SDL2_mixer.lib
SDL2_ttf.dll
SDL2_ttf.lib
SDL2main.lib
SDL2test.lib
zlib1.dll
IT276/.vs/IT276/v16/Browse.VC.opendb
IT276/.vs/IT276/v16/ipch/AutoPCH/3a24e905b359d01b/P_WEAPON.ipch
IT276/IT276/Debug/collisions.obj.enc
IT276/IT276/Debug/m_necromancer.obj.enc
IT276/IT276/Debug/p_weapon.obj
IT276/.vs/IT276/v16/ipch/AutoPCH/2026f022c341dc6b/M_SKELETON.ipch
IT276/IT276/Debug/m_bat.obj
IT276/IT276/Debug/m_firemage.obj
IT276/IT276/Debug/m_skeleton.obj
IT276/IT276/Debug/m_wolf.obj
IT276/.vs/IT276/v16/ipch/AutoPCH/5c2b5a99ebddecb8/M_WOLF.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/ddc69bfe387d927d/M_BAT.ipch
IT276/IT276/Debug/m_bat.obj.enc
IT276/.vs/IT276/v16/ipch/AutoPCH/45acba2d7c81334f/P_FIREBALL.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/45bdb82d7c8fa31c/P_FIREBALL.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/6c3c4d818ca50860/M_PYROMANCER.ipch
IT276/IT276/Debug/m_pyromancer.obj
IT276/IT276/Debug/p_fireball.obj
IT276/.vs/IT276/v16/ipch/AutoPCH/4b1f193b86a62d57/SIMPLE_JSON_LIST.ipch
IT276/IT276/Debug/level.obj.enc
IT276/IT276/Debug/player.obj.enc
