
zlib1.dll
SDL2test.lib
SDL2main.lib
SDL2_ttf.lib
SDL2_ttf.dll
SDL2_mixer.lib
SDL2_mixer.dll
SDL2_image.lib
SDL2_image.dll
SDL2.lib
SDL2.dll
LICENSE.zlib.txt
LICENSE.webp.txt
LICENSE.tiff.txt
LICENSE.png.txt
LICENSE.opusfile.txt
LICENSE.opus.txt
LICENSE.ogg-vorbis.txt
LICENSE.mpg123.txt
LICENSE.modplug.txt
LICENSE.jpeg.txt
LICENSE.freetype.txt
LICENSE.FLAC.txt
libwebp-7.dll
libvorbisfile-3.dll
libvorbis-0.dll
libtiff-5.dll
libpng16-16.dll
libopusfile-0.dll
libopus-0.dll
libogg-0.dll
libmpg123-0.dll
libmodplug-1.dll
libjpeg-9.dll
libfreetype-6.dll
libFLAC-8.dll
IT276/IT276/gf2d.log
IT276/IT276/Debug/vc142.pdb
IT276/IT276/Debug/vc142.idb
IT276/IT276/Debug/simple_logger.obj
IT276/IT276/Debug/simple_json_string.obj
IT276/IT276/Debug/simple_json_parse.obj
IT276/IT276/Debug/simple_json_object.obj
IT276/IT276/Debug/simple_json_list.obj
IT276/IT276/Debug/simple_json_error.obj
IT276/IT276/Debug/simple_json_array.obj
IT276/IT276/Debug/simple_json.obj
IT276/IT276/Debug/player.obj
IT276/IT276/Debug/m_Necromancer.obj
IT276/IT276/Debug/level.obj
IT276/IT276/Debug/IT276.vcxproj.FileListAbsolute.txt
IT276/IT276/Debug/IT276.tlog/link.write.1.tlog
IT276/IT276/Debug/IT276.tlog/link.read.1.tlog
IT276/IT276/Debug/IT276.tlog/link.command.1.tlog
IT276/IT276/Debug/IT276.tlog/IT276.lastbuildstate
IT276/IT276/Debug/IT276.tlog/CL.write.1.tlog
IT276/IT276/Debug/IT276.tlog/CL.read.1.tlog
IT276/IT276/Debug/IT276.tlog/CL.command.1.tlog
IT276/IT276/Debug/IT276.log
IT276/IT276/Debug/IT276.Build.CppClean.log
IT276/IT276/Debug/gfc_vector.obj
IT276/IT276/Debug/gfc_types.obj
IT276/IT276/Debug/gfc_text.obj
IT276/IT276/Debug/gfc_matrix.obj
IT276/IT276/Debug/gfc_list.obj
IT276/IT276/Debug/gfc_input.obj
IT276/IT276/Debug/gfc_callbacks.obj
IT276/IT276/Debug/gfc_audio.obj
IT276/IT276/Debug/gf2d_sprite.obj
IT276/IT276/Debug/gf2d_physics.obj
IT276/IT276/Debug/gf2d_graphics.obj
IT276/IT276/Debug/gf2d_draw.obj
IT276/IT276/Debug/gf2d_actor.obj
IT276/IT276/Debug/game.obj
IT276/IT276/Debug/entity.obj
IT276/IT276/Debug/collisions.obj
IT276/Debug/IT276.pdb
IT276/Debug/IT276.ilk
IT276/Debug/IT276.exe
IT276/Debug/gf2d.log
IT276/.vs/IT276/v16/ipch/AutoPCH/f992f774f68843b8/SIMPLE_JSON_STRING.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f876d37c68b7706/GAME.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f3492f9abdaf1f5/P_WEAPON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/f0d65ac0fa91e5a0/SIMPLE_JSON_PARSE.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e9caba4d7d0afe90/GF2D_DRAW.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e8270e863aed9b73/PLAYER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/e5a4cd056b5f143b/GAME.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/d40eb1b3fc6c7d42/GFC_VECTOR.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/ad179a2dd6d56df7/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/acf2382dd6b5ab34/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/abf2312fb3556f3/GF2D_ACTOR.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/a3201e9417fec5b0/SIMPLE_JSON_OBJECT.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9d7815b233615c41/GF2D_SPRITE.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9d2f5685bd1c1453/ENTITY.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/9b3f0fa2312b6868/P_WEAPON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8ba01d890f2e02ad/GF2D_GRAPHICS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8a793e90573eb965/COLLISIONS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/8150f578b9f4f663/GF2D_PHYSICS.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/7bdb7c727e90f182/SIMPLE_LOGGER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/5a6128ea10528012/SIMPLE_JSON.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/4b1f193b86a62d57/SIMPLE_JSON_LIST.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/215d830a5afe6746/LEVEL.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/16ecf1ca080531a9/M_NECROMANCER.ipch
IT276/.vs/IT276/v16/ipch/AutoPCH/12285356844ada14/SIMPLE_JSON_ARRAY.ipch
IT276/.vs/IT276/v16/Browse.VC.opendb
IT276/.vs/IT276/v16/Browse.VC.db
IT276/.vs/IT276/v16/.suo
IT276.pdb
IT276.ilk
IT276.exe
